/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/*#navigatie{
	background-color: black ;
	flex-grow:1;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
}*/

nav{
	background-color: black;
	color: white;	
	position:sticky;
	right: 0px;
	top: 0px;
}
nav ul{
	color: white;
	text-decoration: none;
	display:flex;



}
nav ul li{
	color:white;
	text-decoration: none;
	
}